{% extends "base_generic.html" %}

{% block content %}
  <h2>Bienvenue !</h2>
  <p>Ce site est l'interface de la base de donnée regroupant mes clichés du ciel</p>
  <p>
  La base dispose actuellement de <strong>{{ num_observation }}</strong> clichés.
  <br/>
  Je compte en ajouter le plus possible, la cadence d'ajout de contenu sera limité par les conditions météo !
  </p>
  <h3>Derniers clichés :</h3>
  <div style="overflow-x:auto;padding-bottom:20px;">
  <table>
	  <thead>
		  <tr>
			  <th>
  				<img src={{latest.0.img_o.all.0.image.url}} width=120>

			  </th>
			  <th>
  				<img src={{latest.1.img_o.all.0.image.url}} width=120>
			  </th>
			  <th>
  				<img src={{latest.2.img_o.all.0.image.url}} width=120>
			  </th>
			  <th>
  				<img src={{latest.3.img_o.all.0.image.url}} width=120>
			  </th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr>
			  <td>{{ latest.0.cat_obj }}{{ latest.0.num_obj }}</td>
			  <td>{{ latest.1.cat_obj }}{{ latest.1.num_obj }}</td>
			  <td>{{ latest.2.cat_obj }}{{ latest.2.num_obj }}</td>
			  <td>{{ latest.3.cat_obj }}{{ latest.3.num_obj }}</td>
		  </tr>
	  </tbody>
  </table>
  </div>
{% endblock %}
