<!DOCTYPE html>
<html lang="fr">
<head>
  {% block title %}<title>InvSol</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 0px 70px 70px 0px; border: 2px solid darkcyan; margin-bottom: 20px; margin-top: 20px; margin-right: 60px; margin-left: 20px;">
                <a class="navbar-brand" href="/InvSol/" style="padding-left: 20px;"><h1 style="color:darkcyan;">InvS<i style="color:gold;"class="bi bi-sunset"></i>l</h1></a>
        </div>
      </nav>
  </header>
  <div class="container-fluid", style="height:100%">
    <div class="row">
            <div class="bg-light" style="width: 280px; height: fit-content; border-radius: 0px 15px 15px 0px; border: 2px solid darkcyan; padding-top: 20px; padding-bottom: 20px; margin-left: 20px;">
                {% block sidebar %}
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link link-dark">
                      <i class="bi bi-house-fill"></i>
                      Accueil
                    </a>
                  </li>
                  <li>
                    <a href="/admin/" class="nav-link link-dark">
                      <i class="bi bi-person-fill"></i>
                      Administration
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'index' %}recherche/" class="nav-link link-dark">
                      <i class="bi bi-search"></i>
                      Recherche
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'index' %}support/" class="nav-link link-dark">
                      <i class="bi bi-newspaper"></i>
                      Liste des supports
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'index' %}observation/" class="nav-link link-dark">
                      <i class="bi bi-record"></i>
                      Liste des Observation
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'index' %}evenement/" class="nav-link link-dark">
                      <i class="bi bi-calendar-event-fill"></i>
                      Liste des Evenements
                    </a>
                  </li>
                </ul>
                {% endblock %}
        </div>
         <div class="col-sm-10 " style="height: auto; position: absolute; margin-left: 300px;">
             {% block content %}
             {% endblock %}
               {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a class ="btn btn-outline-primary btn-sm" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" role="button">précédent</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a class ="btn btn-outline-primary btn-sm" href="{{ request.path }}?page={{ page_obj.next_page_number }}" role="button">suivant</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
              {% endblock %}
         </div>
    </div>
  </div>
</body>
</html>
