{% extends "base_generic.html" %}

{% block content %}
  <h2>Titre: {{ evenement | default:"Aucun" }}</h2>

  <p><strong>Support: </strong><a href="{% url 'support-detail' evenement.support_id%}">{{ evenement.support }}</a></p>
  <p><strong>Observation: </strong><a href="{% url 'observation-detail' evenement.observation_id%}">{{ evenement.observation }}</a></p>
  <p><strong>Type d'evenement:</strong> {{ evenement.type_evenement }}</p>
  <p><strong>Date:</strong> {{ evenement.date}}</p>
  <p><strong>Numéro: </strong>{{ evenement.numero }}</p>
  <p><strong>Heure de début:</strong> {{ evenement.heure_debut | default:"Aucun" }}</p>
  <p><strong>Heure de fin:</strong> {{ evenement.heure_fin | default:"Aucun" }}</p>
  <p><strong>Remarques :</strong> {{ evenement.remarques | default:"Aucun" }}</p>
  {% if evenement.interet %} <p style="color:darkgreen;">evenement avec intérêt</p>{% endif %}
  <a href="/admin/shInvSol/evenement/{{evenement.id_evenement}}/change/" class="btn btn-warning" role="button" style="margin-right: 5px">
    <i class="bi bi-pencil-square">Modifier</i>
  </a>
  <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary" role="button" style="margin-left: 5px">
    <i class="bi bi-arrow-return-left">Retour</i>
  </a>
{% endblock %}
