{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="well">
      <h2 style="margin-top: 0">Recherche avancée</h2>
      <div class="row">
        <h4 style="margin-top: 0;">Critères de Support :</h4>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__instrument.label_tag }}
          {% render_field filter.form.support__instrument class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__lieustockage.label_tag }}
          {% render_field filter.form.support__lieustockage class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__lieuobservation.label_tag }}
          {% render_field filter.form.support__lieuobservation class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__type.label_tag }}
          {% render_field filter.form.support__type class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__numero.label_tag }}
          {% render_field filter.form.support__numero class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__diametre_solaire.label_tag }}
          {% render_field filter.form.support__diametre_solaire class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__manquant.label_tag }}
          {% render_field filter.form.support__manquant class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support__abime.label_tag }}
          {% render_field filter.form.support__abime class="form-control" %}
        </div>
        <div class="col-sm-4 col-md-3">
          {{ filter.form.support__interet.label_tag }}
          {% render_field filter.form.support__interet class="form-control" %}
        </div>
      </div>
      <div class="row">
        <h4>Critères d'Observation :</h4>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.support.label_tag }}
          {% render_field filter.form.support class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Type d'Observation :
          {% render_field filter.form.observation__typeobservation class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Intérêt
          {% render_field filter.form.observation__interet class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          Du :
          {% render_field filter.form.observation__date_debut  class="form-control" type="date" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Au :
          {% render_field filter.form.observation__date_fin  class="form-control" type="date" %}
        </div>
      </div>
      <div class="row">
        <h4>Critères d'Evenement:</h4>
        <div class="form-group col-sm-4 col-md-3">
          Type d'évenement :
          {% render_field filter.form.type_evenement class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.latitude.label_tag }}
          {% render_field filter.form.latitude class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.longitude.label_tag }}
          {% render_field filter.form.longitude class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.importance.label_tag }}
          {% render_field filter.form.importance class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.brillance.label_tag }}
          {% render_field filter.form.brillance class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.aire_mesuree.label_tag }}
          {% render_field filter.form.aire_mesuree class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.aire_corrigee.label_tag }}
          {% render_field filter.form.aire_corrigee class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.interet.label_tag }}
          {% render_field filter.form.interet class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12">
          {% render_field filter.form.caracteristiques  %}
        </div>
      </div>
      <button type="submit" class="btn btn-info", style="margin-top: 20px;">
        <i class="bi bi-search"></i> Rechercher
      </button>
      <button type="button" class="btn btn-danger", value=Reset id="resetBtn" onClick="this.form.reset()", style="margin-top: 20px;">
        <i class="bi bi-x-square-fill"></i> RàZ
      </button>
    </div>
  </form>

  <h3 style="margin-top: 10px;">Support(s) :</h3>
  <table class="table table-bordered table-striped" style="margin-top: 20px">
    <thead>
      <tr>
        <th><strong>Nom</strong></th>
        <th>Type</th>
        <th>Date(s)</th>
        <th>Numéro</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      {% for support in supports %}
        <tr>
          <td><a href="{% url 'support-detail' support.id_support %}">{{ support }}</a></td>
          <td>{{ support.type}}</td>
          <td>{{ support.date_debut }}{% if support.date_fin %} - {{ support.date_fin }}{% endif %}</td>
          <td>{{ support.numero}}</td>
          <td>{{ support.instrument}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Aucunne donnée</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 style="margin-top: 10px;">Observation(s) :</h3>
  <table class="table table-bordered table-striped" style="margin-top: 20px">
    <thead>
      <tr>
        <th><strong>Nom</strong></th>
        <th>Type</th>
        <th>Date</th>
        <th>Intérêt</th>
        <th>Heure début</th>
        <th>Heure fin</th>
      </tr>
    </thead>
    <tbody>
      {% for observation in observations %}
        <tr>
          <td><a href="{% url 'observation-detail' observation.id_observation %}">{{ observation }}</a></td>
          <td>{{ observation.typeobservation }}</td>
          <td>{{ observation.date }}</td>
          <td>{% if observation.interet %} Oui {% else %} Non {% endif %}</td>
          <td>{% if observation.heure_debut %} {{ observation.heure_debut }} {% else %} <i class="bi bi-x-lg"></i> {% endif %}</td>
          <td>{% if observation.heure_fin %} {{ observation.heure_fin }} {% else %} <i class="bi bi-x-lg"></i> {% endif %}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Aucunne donnée</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h3 style="margin-top: 10px;">Evenements(s) :</h3>
  <table class="table table-bordered table-striped" style="margin-top: 20px">
    <thead>
      <tr>
        <th><strong>Nom</strong></th>
        <th>Type</th>
        <th>Date</th>
        <th>Numéro</th>
        <th>Importance</th>
      </tr>
    </thead>
    <tbody>
        {% for evenement in filter.qs %}
          <tr>
            <td><a href="{% url 'Evenement-detail' evenement.id_evenement %}">{{ evenement }}</a></td>
            <td>{{ evenement.type_evenement }}</td>
            <td>{{ evenement.date }}</td>
            <td>{{ evenement.numero }}</td>
            <td>{% if evenement.importance %}{{ evenement.importance }} {% else %}<i class="bi bi-x-lg"></i>{% endif %}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">Aucunne donnée</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
