{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="well">
      <h2 style="margin-top: 0">Recherche avancée</h2>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.typeobservation.label_tag }}
          {% render_field filter.form.typeobservation class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.interet.label_tag }}
          {% render_field filter.form.interet class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          Du :
          <input type="date" name="date_debut" class="form-control" data-provide="datepicker">
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Au :
          <input type="date" name="date_fin", class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          Type d'évenement :
          {% render_field filter.form.evenements__type_evenement class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-info", style="margin-top: 20px;">
        <i class="bi bi-search"></i> Rechercher
      </button>
      <button type="button" class="btn btn-danger", value=Reset id="resetBtn" onClick="this.form.reset()", style="margin-top: 20px;">
        <i class="bi bi-x-square-fill"></i> RàZ
      </button>
    </div>
  </form>

  <h3 style="margin-top: 10px;">Support(s) :</h3>
  <table class="table table-bordered table-striped w-auto" style="margin-top: 20px">
    <thead>
      <tr>
        <th><strong>Support</strong></th>
        <th>Instrument</th>
        <th>Type</th>
        <th>Numéro</th>
      </tr>
    </thead>
    <tbody>
      {% for support in supports %}
        <tr>
          <td><a href="{% url 'support-detail' support.id_support %}">{{ support }}</a></td>
          <td>{{ support.instrument}}</td>
          <td>{{ support.type}}</td>
          <td>{{ support.numero}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Aucunne donnée</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 style="margin-top: 10px;">Observation(s) :</h3>
  <table class="table table-bordered table-striped w-auto" style="margin-top: 20px">
    <thead>
      <tr>
        <th><strong>Observation</strong></th>
        <th>Type d'Observation</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for observation in filter.qs %}
        <tr>
          <td><a href="{% url 'observation-detail' observation.id_observation %}">{{ observation }}</a></td>
          <td>{{ observation.typeobservation }}</td>
          <td>{{ bservation.date }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Aucunne donnée</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h3 style="margin-top: 10px;">Evenements(s) :</h3>
  <table class="table table-bordered table-striped w-auto" style="margin-top: 20px">
    <thead>
      <tr>
        <th><strong>Evenement</strong></th>
        <th>Type</th>
        <th>Date</th>
        <th>Numéro</th>
      </tr>
    </thead>
    <tbody>
        {% for Observation in filter.qs %}
          {% for evenements in Observation.evenements.all %}
          <tr>
            <td><a href="{% url 'Evenement-detail' evenements.id_evenement %}">{{ evenements }}</td>
            <td>{{ evenements.type_evenement }}</td>
            <td>{{ evenements.date }}</td>
            <td>{{ evenements.numero }}</td>
          </tr>
          {% endfor %}
        {% empty %}
          <tr>
            <td colspan="5">Aucunne donnée</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>


  <!-- Affichage des réponses en tableau avec détails
  {% for Observation in filter.qs %}
    <ul>
      <li><a href="{% url 'observation-detail' Observation.id_observation %}">{{ Observation }}</a></li>
    </ul>

  {% empty%}
    <ul>
      <li>Aucunne observation trouvée</li>
    </ul>
  {% endfor%}

  <h3 style="margin-top: 10px;">Support(s) :</h3>
  {% for Observation in filter.qs %}
    <ul>
      <li><a href="{% url 'support-detail' Observation.support_id %}">{{ Observation.support }}</a></li>
    </ul>

  {% empty%}
    <ul>
      <li>Aucun support trouvé</li>
    </ul>
  {% endfor %}
-->
{% endblock %}
