{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des observations</h1>
  {% if observation_list %}
    <table class="table table-bordered table-striped">
       <thead>
         <tr>
           <th>Support</th>
           <th>Type d'observation</th>
           <th>Collection d'Observation</th>
           <th>Date</th>
         </tr>
       </thead>
       <tbody>
       {% for observation in observation_list %}
         <tr>
             <td><a href="{{ observation.id_observation}}">{{ observation }}</a></td>
             <td>{{observation.typeobservation}}</td>
             <td>{{observation.collectionobservation}}</td>
             <td>{{observation.date}}</td>
         </tr>
       {% endfor %}
       </tbody>
    </table>
  {% else %}
    <p>Il n'y a pas d'observation dans la base de donnée.</p>
  {% endif %}
{% endblock %}
