<!DOCTYPE html>
<html lang="fr" class="bg-dark">
<head>
  {% block title %}<title>BLaStro</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
  <header class="bg-dark">
	  <nav class="navbar navbar-expand-lg navbar-dark" style="padding-left:1%;width:97%;border-radius: 0px 10px 10px 0px; border: 2px solid lightgray;">
		  <a class="navbar-brand"><h1>BLaStr<small><small><small><i style="color:white" class="bi bi-moon-fill"></i></small></small></small></h1></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation" style="margin-right:20px;padding-right:10px;padding-left:10px;">
			  <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			  <ul class="navbar-nav">
				  <li class="nav-item active">
					  <a class="nav-link" href="{% url 'index' %}"><i class="bi bi-house-fill"></i> Accueil</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" href="{% url 'index'%}recherche/ "><i class="bi bi-search"></i> Recherche</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" href="{% url 'index'%}observation/ "><i class="bi bi-camera2"></i> Observations</a>
				  </li>
			  </ul>
		  </div>
	  </nav>
  </header>
  <div class="container-fluid bg-dark", style="height:100%; padding-left:10%; padding-right:10%;">
    <div class="row">
             <div class="col-sm-10 bg-dark" style="height: auto; color:white">
             {% block content %}
             {% endblock %}
               {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a class ="btn btn-outline-primary btn-sm" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" role="button">précédent</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a class ="btn btn-outline-primary btn-sm" href="{{ request.path }}?page={{ page_obj.next_page_number }}" role="button">suivant</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
              {% endblock %}
         </div>
    </div>
  </div>
</body>
</html>
